<%= render "shared/header" %>


<div class='main'>
  <div class='main_contents'>
  <%#= each."#" do %>
    <%=link_to(image_tag("s.png", class:"item_images"), "#")%>
    <li><%=link_to "静岡県","#", class:"name_link" %>
        　<%=link_to "◯◯商店", "#", class:"name_link" %></li>
    <li><%=link_to "日本酒", "#", class:"name_link" %>　<%=link_to "◯◯純米大吟醸", "#", class:"name_link" %></li>
    <li class="name_link">税込　3,800円</li>
    <li><%=link_to "", "#", class:"name_link" %></li>
  <%# end %>

  </div>


</div>

<%= render "shared/footer" %>